name: CI
on:
  push: { branches: ["**"] }
  pull_request:
jobs:
  precommit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with: { fetch-depth: 0 }
      - uses: actions/setup-python@v5
        with: { python-version: "3.x" }
      - run: python -m pip install -U pip wheel setuptools pre-commit
      - run: pre-commit run -a
