node_modules/
venv/
*.pyc
__pycache__/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
.DS_Store
thumbs.db
*.swp
*~
.idea/
.vscode/
.vscode-server/
.vscode-*
.hermes/
.hermes_*/
.masterpack/
.masterpack_*/
*.bak
*.backup*/
*.orig
.ssh/
*.pem
*.key
.cache/
tmp/
tmp*/
/.android/
/var/
/data/
/proc/
/sys/
/dev/
